
* {
    
}

body {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    background: #ffffff;
}

header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    letter-spacing: 1px;
    background: #f2f2f2;
}

.header-container {
    margin: 0 auto;
    padding: 15px;
    max-width: 1000px;
}

h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

main {
    width: 100%;
}

.wrapper {
    max-width: 850px;
    margin: 0 auto;
    padding: 2em .5rem;
}

#score {
    text-align: center;
    margin: 0 auto;
    padding: 0 1em 1.5em;
    display: none;
    font-size: 20px;
    line-height: 28px;
}

.score-title {
    font-size: 20px;
    text-decoration: underline;
    line-height: 28px;
}

.card-container {
    border: solid 2px #333333;
    margin: 0 auto;
    position: relative;
    border-radius: 15px;
    padding: 1em;
}

.question-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

#answer-list {
    padding: 15px 0 15px;
    margin: 0 auto;
}

.answer-text {
    text-align: center;
    font-size: 18px;
    padding: 0 0 10px;
    color: red;
}

.answer-correct {
    border: 1px solid #3c763d;
    background-color: #dff0d8;
    color: #3c763d;
    font-weight: 600;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    padding: 1rem;
    border: 1px dotted #333333;
    border-radius: 10px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    width: 80%;
    padding: 0px;
    margin: 0 auto;
}

.button-style {
    margin: 8px;
    padding: 10px;
    background: #9ACFCC;
    border-radius: 10px;
    color: #00403C;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    display: block;
    outline: none;
  }

button {
    display: none;
}

.btn {
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    padding: 1rem;
    border: 1px dotted #333333;
    border-radius: 10px;
    margin-top: 10px;
  }

.active, .btn:hover {
    background-color:#F08080;
    color: #B22222;
  }
.active, .answer-correct:hover {
    background-color: #dff0d8;
    color: #00403C;
}

  @media screen and (min-width: 576px) {
    .wrapper {
        padding: 2em;
    }
    .card-container {
        padding: 2em;
    }
    .question-title {
        font-size: 32px;
        line-height: 40px;
        padding: .5rem 1em;
    }
    .answer-choices {
        margin: 0 auto;
        padding: 0;
    }
    #answer-list {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    .btn {
        width: 300px;
        height: 250px;
        margin: 10px;
        display: flex;
        flex-flow: nowrap;
        justify-content: center;
        align-items: baseline ;
        text-align: center;
    }
    .answer-correct {
        width: 300px;
        height: 250px;
        margin: 10px;
        display: flex;
        flex-flow: nowrap;
        justify-content: center;
        align-items: baseline ;
        text-align: center;
    }
    #score {
        font-size:26px;
        line-height: 34px;
    }
    .button-style {
        margin: 15px;
        padding: 20px;
        font-size: 18px;

    }
  }