body {
  width: 100%;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  background: url(images/Ansel-Adams.jpg) no-repeat 100% 100% / cover fixed ;
}

header {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
  background: #f2f2f2;
}

footer {
  background: #f2f2f2;
  margin: 0 auto;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size:12px;
}

.header-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1000px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
  padding: 1rem 1rem;
  text-align: center;
  margin: 0 auto;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

main {
  width: 100%;
  height: auto;
  position: relative;
  margin:0 auto;
}

.wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 2em 0.5rem;
}

.wrapper .welcome-container {
  color: #000000;
  border: solid 2px #333333;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  padding: 1em 1em;
  width: 100%;
}

.welcome-img-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}

.wel-img-2,.wel-img-3,.wel-img-4 {
  display: none;
}

.wel-btn-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.wel-btn {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  padding: 20px 20px;
  display: block;
  color: white;
  background-color: purple;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.4);
}

.wel-btn:hover {
    background-color: rebeccapurple;
    border: 5px solid rebeccapurple;
    cursor: pointer;
}

#score {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  display: block;
  font-size: 20px;
  line-height: 28px;
}

.score-title {
  font-size: 20px;
  text-decoration: underline;
  line-height: 28px;
}

.wrapper .card-container {
  border: solid 2px #333333;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  padding: 1em;
  display: none;
}

.question-title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
}

.answer-choices {
  opacity: 1;
}

#answer-list {
  padding: 15px 10px 15px;
  margin: 0 auto;
}

.green {
  color: #3c763d;
  font-weight: 600;
  padding: 15px 15px;
}

.red {
  color: red;
}

.answer-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  padding: 5px 5px 10px;
}

.description {
  text-align: center;
  font-size: 16px;
  outline: none;
}

.answer-wrong {
  border: 1px solid rgb(197, 30, 30);
  background-color: #e68a8a;
  color: rgb(197, 30, 30);
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  padding: 1rem;
}

.answer-correct {
  border: 1px solid #3c763d;
  background-color: #dff0d8;
  color: #3c763d;
  font-weight: 600;
  outline: none;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.answer-container {
  border: 1px solid;
  border-radius: 10px;
  padding: 1.4rem;
  margin: 0 auto;
  width: 95%;
  line-height: 22px;
  display: none;
}

.button-container {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.button-style {
  margin: 20px 10px 10px;
  padding: 15px;
  background: #9acfcc;
  border-radius: 10px;
  color: #00403c;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  outline: none;
  display: none;
  outline: none;
}

.button-style:hover {
  background-color: rgb(144, 194, 191);
}

button {
  display: none;
}

.answers {
  border: 1px dotted #333333;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 1rem;
  text-align: center;
}

.end-tag-text {
  font-size: 28px;
  line-height: 48px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.final-score {
  font-weight: 700;
  margin: 1rem auto;
}

.end-btn {
  text-align: center;
  margin: 0 auto;
  padding: 1.4rem 2rem;
}

.try-again-btn {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin: 1.8rem auto 1rem;
  padding: 20px 20px;
  display: block;
  color: white;
  background-color: purple;
  border-radius: 10px;
  display: none;
  cursor: pointer;
  outline: none;
}

.try-again-btn:hover {
  background-color: rebeccapurple;
  border: 5px solid rebeccapurple;
  cursor: pointer;
}

.sizing {
  width: 150px;
  height: auto;
  display: none;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px auto 5px;
}

@media screen and (min-width: 576px) {
  .wrapper {
    padding: 3em 2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  h2 {
      padding: 1rem 3em;
  }

  .card-container {
    padding: 2em;
    min-width: 500px;
    display: none;
  }
  .question-title {
    font-size: 28px;
    line-height: 36px;
    padding: 0 1em;
  }
  .answer-choices {
    margin: 0 auto;
    padding: 0;
  }
  #answer-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .answers {
    width: 320px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .answer-wrong {
    width: 320px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .answer-correct {
    width: 320px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #score {
    font-size: 24px;
    line-height: 30px;
  }
  .button-style {
    margin: 15px auto 5px;
    padding: 20px;
    font-size: 18px;
  }
  .answer-container {
    width: 80%;
  }

  .sizing {
    display: flex;
  }

  .welcome-img-container .wel-img-1,.wel-img-2,.wel-img-3,.wel-img-4 {
    height: 100px;
    width: 100px;
    display: block;
  }

  .wrapper .welcome-container {
      padding: 3em 1em;
  }
}
